[submodule "deps/cppdecl"]
	path = deps/cppdecl
	url = https://github.com/elix22/cppdecl.git
[submodule "bullet"]
	path = deps/bullet
	url = https://github.com/elix22/bullet3.git
[submodule "deps/JoltPhysics"]
	path = deps/JoltPhysics
	url = https://github.com/elix22/JoltPhysics.git
	branch = v5.5.0.bindings
